/* bg color - #E43A3A or #E54350 */

.about {
	/*background: #E54350;*/
	background: #E54350;
    height: 100%;
    padding-top: 15px;
}

.about a, .about p, .about h1, .about h2, .about h3, .about h4, .about h5, .about h6, .about li, .about input, .about label {
  color: white;
}

.about .additional-credits{
	margin-bottom: 0;
}

.about h2.title {
	margin-bottom: 30px;
	text-align: center;
}

.about .bio {
	padding-bottom: 100px;
}

.about .bio img{
	width: 225px;
	float: left;
	margin-left: 150px;
	margin-right: 100px;
	margin-top: 35px;
}

.about .bio > p{
	padding: 2% 20%;
	padding-top: 25px;
	line-height: 1.5;
	font-size: 18px;
}

.about .bio > h2, .about .bio > h3 {
	padding: .1% 10%;
	margin-left: 6%;
}

.adam .bio > h2, .adam .bio > h3,
.michael .bio > h2, .michael .bio > h3,
.vinny .bio > h2, .vinny .bio > h3{
	text-align: right;
	margin-right: 9%;
}


.about .tyler img, .about .max img {
	float: right;
	margin-right: 150px;
	margin-left: 100px;
}


.about .about-site {
	padding: 0 11%;
 	padding-top: 200px;
}

.about .description p{
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
	width: 60vw;
}

.about .icon-credit p{
	display: inline-block;
}

@media (max-width: 690px){
	.about .bio > img {
		padding-bottom: 30px;
	}

	.about h2.title {
		margin-bottom: 0px;
	}
}
