.about {
	background: darkred;
    height: 100%;
    padding-top: 15px;
}

.about a, .about p, .about h1, .about h2, .about h3, .about h4, .about h5, .about h6, .about li, .about input, .about label {
  color: white;
}

.about h2.title {
	margin-bottom: 50px;
	text-align: center;
}

.about .bio {
	padding-bottom: 100px;
}

.about .bio img{
	width: 225px;
	float: left;
	margin-left: 150px;
	margin-right: 100px;
}

.about .bio > p{
	padding: 2% 20%;
}

.about .bio > h2, .about .bio > h3 {
	padding: .1% 10%;
}

.adam .bio > h2, .adam .bio > h3 {
	text-align: right;
}

.michael .bio > h2, .michael .bio > h3 {
	text-align: right;
}

.vinny .bio > h2, .vinny .bio > h3 {
	text-align: right;
}

.about .tyler img, .about .max img {
	float: right;
	margin-right: 150px;
	margin-left: 100px;
}


.about .about-site {
	padding: 0 11%;
 	padding-top: 200px;
}