.about {
	background: darkred;
    height: 100%;
    padding-top: 15px;
}

.about a, .about p, .about h1, .about h2, .about h3, .about h4, .about h5, .about h6, .about li, .about input, .about label {
  color: white;
}

.about h2.title {
	text-align: center;
}

.about .bio > p{
	padding: 2% 20%;
}

.about .bio > h2, .about .bio > h3 {
	padding: .1% 10%;
}