.createPost .title h3, .createPost .title input,
.createPost .content h3, .createPost .content textarea {
  display: inline-block;
}

.createPost .title h3 {
  padding-right: 60px;
  vertical-align: middle;
}

.createPost .title input {
  width: 88%;
}

.createPost .content {
  margin-bottom: 150px;
}

.createPost .content h3 {
  padding-right: 30px;
}

.createPost .content textarea {
  height: 450px;
  margin-top: 10px;
  vertical-align: middle;
  width: 87.75%;
}

.createPost .content input.btn {
  display: block;
  float: right;
  margin-right: .75%;
}

.createPost form#createPost {
  margin: 0 auto;
  width: 80%;
}

.createPost .html > div {
  margin: 0 auto;
}

.createPost .html > div > h3 {
  border: solid 1px;
  display: inline-block;
  padding: 0 1%;  
}

.createPost .html > div > h3.left {
  border-right: 0; 
}

.createPost .html > div > h3.right {
  border-left: 0;
}

.createPost .html > div > h3.active {
  background-color: #D40B00;
  color: antiquewhite;
  padding: 1px 1%;
}
