.edit-post #cke_content {
	margin-left: 15%;
	width: 70%;
}

.edit-post #content input.btn {
  display: block;
  float: right;
  margin-right: .75%;
}

.edit-post a.delete-post {
	float: right;
}

#body-wrap > .edit-post {
	margin-bottom: 170px;
}