 .index .email-list-signup {
  background-color: darkred;
  display: block;
  padding-bottom: 10px;	
  text-align: center;
}


.index .email-list-signup form .create-member {
  border-radius: 2px;
  padding: 1%;
  padding-top: .25%;
  width: 100%;
}

.index form#email-list-signup > .create-member.closed {
	display: none;
}

.index .email-list-signup.closed {
	background-color: white;
	height: 0;x
}



.email-list-signup a, .email-list-signup p, .email-list-signup h1, 
.email-list-signup h2, .email-list-signup h3, .email-list-signup h4,
.email-list-signup h5, .email-list-signup h6, .email-list-signup li,
.email-list-signup input, .email-list-signup label {
  color: white;
  font-family: libertySans;
  font-weight: 500;	
}

.email-list-signup .close {
	color: white;
	position: absolute;
	top: 21px;
	right: 10px;
	font-size: 35px;
	width: 65px;
}

.email-list-signup .close.closed {
	color: darkred;
}

.email-list-signup .close:hover {
	cursor: pointer;
}

.index .email-list-signup h2.no-margin {
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 0;
	padding-top: 10px;
	text-align: center;
}

.index .email-list-signup input{
	border-radius: 1px;
	color: darkred;
	font-size: 18px;
	height: 21px;
	margin: 5px 20px;
	text-align: center;
	width: 250px;
}

.index .email-list-signup button{
	border: 1px solid gray;
	display: inline-block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 0px;
	height: 31px;
	top: 0px;
	margin-left: 470px;
	background: rgb(188, 186, 186);
	margin-left: 0;
	right: 3%;
}

.index .email-list-signup button h2{
	color: darkred;
	margin: 3px 18px;
	margin-bottom: 0;
}

.index .email-list-signup button:hover{
	  cursor: pointer;
}

.index .email-list-signup span {
  display: inline-block;	
}

.index form#email-list-signup {
	display: inline-block;
}

.index:nth-child(1) {
	margin-top: 0;
}

.posts h2.posts-header { 
	text-align: center;
}

.index .posts hr.first {
	width: 100%;
}

.index .posts hr {
	width: 80%;
}

.index .post {
	padding: 0 3%;
	margin: 0 2%;
	line-height: 0.1;
    min-height: 175px;
}

.index .post p {
	display: inline-block;
}

.index .post .borders{
	border-right: 1px solid;
	border-left: 1px solid;
	height: 35px;
	left: 2%;
	margin: 0 auto;
	position: absolute;
	top: 30%;
	vertical-align: middle;
	width: 96%;
}

.index .post-wrap{
	margin: 2% 8%;
	padding: 1% 0;
	position: relative;
}

.index .post .date {
	float: right;
}

@media (min-width: 0px) and (max-width: 893px) {

}

@media (min-width: 894px) {

}