 .index .email-list-signup {
  display: block;	
}

.index .email-list-signup span {
  display: inline-block;	
}

.index:nth-child(1) {
	margin-top: 0;
}

.index .posts hr.first {
	width: 100%;
}

.index .posts hr {
	width: 60%;
}

.index .post {
	padding: 0 3%;
	margin: 0 2%;
}

.index .post p {
	display: inline-block;
}

.index .post .borders{
	border-right: 1px solid;
	border-left: 1px solid;
	height: 35px;
	left: 2%;
	margin: 0 auto;
	position: absolute;
	top: 30%;
	vertical-align: middle;
	width: 96%;
}

.index .post-wrap{
	margin: 2% 8%;
	padding: 1% 0;
	position: relative;
}

.index .post .date {
	float: right;
}