.index .email-list-signup {
  display: block;	
}

.index .email-list-signup span {
  display: inline-block;	
}

.index:nth-child(1) {
	margin-top: 0;
}

.index .posts hr.first {
	width: 100%;
}

.index .posts hr {
	width: 60%;
}

.index .post{
	padding: 1% 5%;
}

.index .post .date {
	float: right;
}