body { margin: 0; }

#body-wrap {
  padding: 0 2%;
  border-top: 1px solid darkgray;
}

a, p, h1, h2, h3, h4, h5, h6, li {
  color: #D40B00;
}

.customNav {
	background-color: white;
	padding-left: 5%;

}

.customNav h3 {
	color: #D40B00;
	padding: 1% 1% .5% 1%;
	font-family: serif;
	display: inline;
}


.mainNavMenu { 
  width: 100%;
}

.mainNavMenu h4  {
  font-weight: bold;
  font-size: 20px;
	display: inline-block;
  margin: 0 0 .7% 0;
  padding: 1.8% 0;
  text-align: center;
  transition: color 0.3s ease,
              background-color 0.4s ease,
              opacity 0.8s ease;
  width: 18.1%;
}

.mainNavMenu h4:hover {
  background-color: #D40B00;
  color: white;
  opacity: .77;
}

.mainWrap {
  border-bottom: 1px solid dimgray;
}

.navbar-header {
	text-align: center;
}

ul#result {
  border: solid 1px dimgray;
  border-radius: 4px;
  height: 9em;
  overflow: auto;
  width: 60%;
}