@font-face {
    font-family: bebas;
    src: url('../fonts/bebasneue.otf');
}

@font-face {
    font-family: kameron;
    src: url('../fonts/Kameron-Regular.ttf');
}

body { margin: 0; }

#body-wrap {
  padding: 0 2%;
  position: relative;
}

a, p, h1, h2, h3, h4, h5, h6, li {
  color: #D40B00;
  font-family: kameron;
}

.customNav {
	background-color: white;

}

.customNav h3 {
	color: #D40B00;
	padding: 1% 1% .5% 1%;
	display: inline;
}

.emailListSignup{
  display: none;
}

.login-btn {
  bottom: 0px;
  font-family: bebas;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
  position: absolute;
  background-color: #D40B00;
  right: 0px;
  border: solid 2px;
  color: white;
  letter-spacing: 2px;
  padding: 4px 19px;
  padding-bottom: 0px;
}

.login-btn:hover {
  cursor: pointer;
}

.login-form {
  border: 2px solid #D40B00;
  top: 0px;
  display: none;
  right: 30px;
  position: absolute;
}

.login-form .close-btn p {
  margin-top: 0;
  float: right;
}

.login-form .close-btn p:hover {
  cursor: pointer;
}

.login-wrap {
  position: relative;
  width: 330px;
}

.login-wrap .close-btn:hover{
  cursor: pointer;
}

.login-wrap .close-btn {
  position: absolute;
  right: 2px;
}

.login-wrap form {
  margin-top: 25px;
}

.login-wrap form span h3 {
  display: inline;
}

.login-wrap form span input {
  display: inline;
  margin-left: 12px;
  width: 170px;
}

.mainNavMenu { 
  width: 100%;
}

.mainNavMenu h4  {
  font-family: bebas;
  font-size: 31px;
  font-weight: 100;
  display: inline-block;
  margin: 0 0 .7% 0;
  padding: 1.8% 0;
  padding-bottom: 1.2%;
  text-align: center;
  transition: color 0.3s ease,
              background-color 0.4s ease,
              opacity 0.8s ease;
  width: 19.99%;
}

.mainNavMenu h4:hover {
  background-color: #D40B00;
  color: white;
  opacity: .77;
}

.headerWrap {
  border-bottom: 2px solid beige;
  position: relative;
}

.navbar-header {
	text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

.officialHome {
  margin-bottom: 5px;
  padding-bottom: 0;
}

ul#result {
  border: solid 1px dimgray;
  border-radius: 4px;
  height: 9em;
  overflow: auto;
  width: 60%;
}