.customNav {
	background-color: #D40B00;
	padding-left: 5%;

}

.customNav h3 {
	color: white;
	padding: 1% 1% .5% 1%;
	font-family: serif;
	display: inline;
}

.mainNavMenu a  {
	display: inline-block;
}


.mainNavMenu a:not(:nth-child(1)) {
	margin-left: 2em;
}

.navbar-header {
	text-align: center;
}