.manage-posts .posts-content {
	text-align: center;
}

.manage-posts .members-home h3{
	margin-left: 10%;
}

.posts-content .post {
	margin-bottom: 15px;
}	

#body-wrap > .manage-posts {
	margin-bottom: 300px;
}