extends layout
block content
	link(rel="stylesheet" type="text/css" href="/css/about.css")
	.about
		h2.title Bio
		.adam
			.bio
				h2 Adam Karis
				h3 Bass, Guitar, Keys, Vocals
				p. 
					Born and raised in slow paced Santa Cruz, CA, Adam 
					spent all his teenage years playing guitar and obsessing
					over rock records. In his short lived career at 
					Cal State University Monterey Bay he met Tyler Dinner where 
					they formed a band. Known as Andorra and even Mary's Rebellion
					for a little, the band would prove to be the foundation for Hell for 
					the Company, as well as cement Adam and Tyler as a permanent 
					musical team.
		.max
			.bio
				h2 Max Pena
				h3 Guitar, Jazz Piano, Occasional Drums, Vocals, Master Engineer
				p. 
					From the rough and real Hell's Kitchen in the 90's comes Max 
					Pena. Growing up with tons of energy, a lack of physical space, and
					a handful of inherited instruments, Max transformed his frustrations into 
					riffs and licks. Max became friends with Tyler Dinner shortly after the two met in 
					BMCC's (Borough of Manhattan Community College) weekly music club. The next year, after a 
					few months without contact, the two randomly passed each other on the street in 
					Park Slope, Brooklyn, where Tyler had just moved. Tyler, his brother Michael, and 
					Max started jamming frequently, and within a few months, Hell for 
					the Company was born. 
		.michael
			.bio
				h2 Michael Dinner
				h3 Guitar, Vocals, Keys, Bass, Engineer
				p.
					Born and raised in small town Monterey, CA, Michael enjoyed music at 
					a young age before becoming obssessed with guitar and all things that rock
					in his mid teens. With a musical family lineage, razor sharp focus and 
					more drive than 2 people can normally exert, Michael has spent the last decade
					honing his chops and his writing skills to include songs that range from stories
					of Vigilante Superheroes to crazy encounters with law enforcement.
					The younger of 2, he moved to New York City with his brother to puruse music, and
					so far he hasn't looked back.
		.tyler
			.bio
				h2 Tyler Dinner
				h3 Vocals, Keys, Guitar, Engineer & Master of Ceremonies
				p.
					Hailing from Monterey, CA, Tyler quickly turned a teenage song-writing hobby into
					a musical obsession. Driven by this and coming from a musical lineage,
					Tyler eventually quit college baseball in order 
					to pursue the sounds full time. After trying to get bands together in Cali, 
					Tyler teamed up with his brother and moved to New York City in 2008 to make 
					music their main focus. After a few more band attempts, the brothers
					teamed up with Max Pena and founded Hell for the Company in 2010.
		.vinny
			.bio
				h2 Vinny Lauria
				h3 Drums, Percussion
				p.
					A lifetime resident of the excessively quiet Pleasantville, New York, Vinny
					spent his youth making sounds as loud as the Big Apple he grew 40 miles from. 
					The baby of the group, Vinny and Michael Dinner became great friends while they attended
					Lehman College in the Bronx. After more than a year of hearing about an awesome drummer from 
					upstate, Tyler, Max and Michael finally got togeher to jam in Vinny's garage in 
					2010, and within moments everyone knew the combination was something special. 


