extends layout
block content
  link(rel="stylesheet" type="text/css" href="/css/createUser.css") 
  h2 Create Users!
  form(id="createUser" action="/users" method="post" accept-charset="utf-8" ajax="true")
    span.login-form-inputs
      input(class="input login-input" type="text" name="email" placeholder="Email")
      input(class="input login-input" type="text" name="password" placeholder="Password")
      input(class="input login-input" type="text" name="type" placeholder="User Type")
      br
      input(type="submit" value="Submit")
      script(src="/js/createUser.js")
