extends layout
block content
	link(rel="stylesheet" type="text/css" href="/css/createPost.css")
	.createPost
		form(id="createPost" action="/createPost" method="post" accept-charset="utf-8" ajax="true")
			h2 Create A Blog Post
			.title
				h3 Title
				input(id='title' class="input" type="text" name="title")
			.content
				h3 Content
				textarea(id='content' class="input" type="text" name="content")
				input(class="btn" type="submit" value="CreatePost")
		#result
		script(src="/js/createPost.js")
	