.emailListSignup
  form(id="emailListSignup" action="/emailListData" method="post" accept-charset="utf-8" ajax="true")
   .create-member
    h3 Email
    input(class="input" type="text" name="email")
    h3 First Name
    input(class="input" type="text" name="fname")
    h3 Last Name
    input(class="input" type="text" name="lname")
    input(type="submit" value="Submit")
  #createMemberSuccess
  script(src="/js/emailListPOST.js")