link(rel="stylesheet" type="text/css" href="/css/emailListSignup.css")
.email-list-signup
  form(id="email-list-signup" action="/emailListData" method="post" accept-charset="utf-8" ajax="true")
   .create-member
    span
      h3 Email
      input(class="input" type="text" name="email")
    span
      h3 Name
      input(class="input" type="text" name="fname")
  #createMemberSuccess
  script(src="/js/emailListPOST.js")