doctype html
html
 head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js")
  script(src="/js/js.js")
  script(scr="https://apis.google.com/js/platform.js")
  link(rel="stylesheet" type="text/css" href="/css/main.css")
 body(ng-controller="mainController")
  .mainWrap
   div(class="customNav")
    .mainNavMenu
     a
      h4 Music
       link
     a 
      h4 Shows
       link
     a 
      h4 More 
       link
    div(class="navbar-header")
     h3 Hell for the Company - Official Home
  block content
  block newReview