doctype html
html
 head
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="/css/main.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js")
  script(src="/js/js.js")
  script(scr="https://apis.google.com/js/platform.js")
 body(ng-controller="mainController")
  .mainWrap
   div(class="customNav")
    .mainNavMenu
     a(href="/")
      h4 Home
     a(href="/Media")
      h4 Media
     a(href="/Tour")
      h4 Shows
     a(href="/Store")
      h4 Store
     a(href="/about-contact")
      h4 About/Contact
    div(class="navbar-header")
     h2 Hell for the Company - Official Home
  block content
  include emailListSignup
  block newReview