doctype html
html
 head
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="/css/mainb.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="/js/libs/jquery-1.11.2.min.js")
  //script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js")
  script(src="/js/js.js")
  //script(scr="https://apis.google.com/js/platform.js")
  script(src="/js/ckeditor/ckeditor.js")
 body
  .headerWrap
   div(class="customNav")
    .mainNavMenu
     a(href="/")
      h4 Home
     a(href="/Media")
      h4 Media
     a(href="/Tour")
      h4 Shows
     a(href="/Store")
      h4 Store
     a(href="/about-contact")
      h4 About/Contact
    div(class="navbar-header")
     h2.title Hell for the Company 
     h3.officialHome Official Home    
  #body-wrap
   block content
   include loginForm
   block newReview

