.login-form
 .close-btn
  p Close X
 .login-wrap
  form(id="login" action="/logUserIn" method="post" accept-charset="utf-8" ajax="true")
   span
    h3.custom-margin Email
    input(class="input login-input" type="text" name="email")
    br
    h3 Password
    input(class="input login-input" type="text" name="password")
   br
   button(class="login-form-btn" type="submit" value="Login") Login

