extends layout
block content
  link(rel="stylesheet" type="text/css" href="/css/manageUsers.css")
  .manage-users
    a(href="/membersHome" class="members-home")
      h3 Back to Members Home
    .users-content
      h2 Users
    script(src="/js/manageUsers.js")