extends layout
block content
  link(rel="stylesheet" type="text/css" href="/css/managePosts.css")
  .manage-posts
    a(href="/membersHome" class="members-home")
      h3 Back to Members Home
    .posts-content
      h2 Posts
    span.editor-wrap
      span.title
        h2 Post Title:
        input.title
      .content-wrap
        h2 Content
        textarea.content
    script(src="/js/managePosts.js")