extends layout
block content
  link(rel="stylesheet" type="text/css" href="/css/managePosts.css")
  .manage-posts
    .posts-content
      h2 Posts
    span.editor-wrap
      span.title
        h2 Post Title:
        input.title
      .content-wrap
        h2 Content
        textarea.content
    .posts-list
      ul#result
        script(src="/js/managePosts.js")