extends layout
block content
  link(rel="stylesheet" type="text/css" href="/css/managePosts.css")
  .manage-posts
    a(href="/membersHome" class="members-home")
      h3 Back to Members Home
    .posts-content
      h2 Posts
    script(src="/js/managePosts.js")