extends layout
block content
  link(rel="stylesheet" type="text/css" href="/css/manageShows.css")
  .manage-shows
    a(href="/membersHome" class="members-home")
      h3 Back to Members Home
    .shows-content
      h2 Shows
    script(src="/js/manageShows.js")