extends layout
block content
	link(rel="stylesheet" type="text/css" href="/css/tour.css")
	.tour
		h3 Tour!
		div.view-select 
			h4.first.active All
			h4.middle Scheduled
			h4.last Played
		h3 Upcoming
		h3 Past